{% extends 'base2.html' %}
{% block title %} Crear venta {% endblock %}
{% block script %}
    <script src="{{ STATIC_URL }}venta/js/orden.js"></script>
{% endblock %}
{%block content%}
        {%csrf_token%} 
        <div id="crearVenta">
            <input type="numero" id="numero" name="name">
        </div>              
                 <ul id="ordenes">
                    <li>
                        <ul>
                            <li>
                                <i></i>
                                <a href="#">+</a>
                            </li>
                            <li>
                                <i></i>
                                <a href="#">+</a>
                            </li>
                            <li>
                                <i></i>
                                <a href="#">+</a>
                            </li>
                            <li>
                                <i></i>
                                <a href="#">+</a>
                            </li>
                            <li>
                                <i></i>
                               <a href="#">+</a>
                            </li>
                        </ul>
                    </li>
                           <li>
                        <ul>
                            <li>
                                <i></i>
                                <a href="#">+</a>
                            </li>
                            <li>
                                <i></i>
                                <a href="#">+</a>
                            </li>
                            <li>
                                <i></i>
                                <a href="#">+</a>
                            </li>
                            <li>
                                <i></i>
                                <a href="#">+</a>
                            </li>
                            <li>
                                <i></i>
                                <a href="#">+</a>
                            </li>
                        </ul>
                    </li>
                           <li>
                        <ul>
                            <li>
                                <i></i>
                               <a href="#">+</a>
                            </li>
                            <li>
                                <i></i>
                                <a href="#">+</a>
                            </li>
                            <li>
                                <i></i>
                                <a href="#">+</a>
                            </li>
                            <li>
                                <i></i>
                                <a href="#">+</a>
                            </li>
                            <li>
                                <i></i>
                                <a href="#">+</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <section>
                    <ul>
                        <li>
                            <ul>
                                <li><a href="">X</a></li>
                                <li><a href="">$</a></li>
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li><a href="">X</a></li>
                                <li><a href="">$</a></li>
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li><a href="">X</a></li>
                                <li><a href="">$</a></li>
                            </ul>
                        </li>
                    </ul>        
                </section>
{%endblock%}


           
            
                
            