{% extends 'base2.html' %}
{% block title %} Crear venta {% endblock %}
{% block script %}
{% endblock %}
{%block content%}
 <ul>
    <li>
        <ul>
            <li>
                <i></i>
                <table>
                    <tr>
                        <td><i class="font1"></i></td>
                        <td class="br"><i class="font2"></i>#</td>
                    </tr>
                    <tr>
                        <td class="br"><i class="font1"></i>-</td>
                        <td class="br"><i class="font2"></i>+</td>
                    </tr>
                </table>
            </li>
            <li>
                <i></i>
                <table>
                    <tr>
                        <td><i class="font1"></i></td>
                        <td class="br"><i class="font2"></i>#</td>
                    </tr>
                    <tr>
                        <td class="br"><i class="font1"></i>-</td>
                        <td class="br"><i class="font2"></i>+</td>
                    </tr>
                </table>
            </li>
            <li>
                <i></i>
                <table>
                    <tr>
                        <td><i class="font1"></i></td>
                        <td class="br"><i class="font2"></i>#</td>
                    </tr>
                    <tr>
                        <td class="br"><i class="font1"></i>-</td>
                        <td class="br"><i class="font2"></i>+</td>
                    </tr>
                </table>
            </li>
            <li>
                <i></i>
                <table>
                    <tr>
                        <td><i class="font1"></i></td>
                        <td class="br"><i class="font2"></i>#</td>
                    </tr>
                    <tr>
                        <td class="br"><i class="font1"></i>-</td>
                        <td class="br"><i class="font2"></i>+</td>
                    </tr>
                </table>
            </li>
            <li>
                <i></i>
                <table>
                    <tr>
                        <td><i class="font1"></i></td>
                        <td class="br"><i class="font2"></i>#</td>
                    </tr>
                    <tr>
                        <td class="br"><i class="font1"></i>-</td>
                        <td class="br"><i class="font2"></i>+</td>
                    </tr>
                </table>
            </li>
        </ul>
    </li>
           <li>
        <ul>
            <li>
                <i></i>
                <table>
                    <tr>
                        <td><i class="font1"></i></td>
                        <td class="br"><i class="font2"></i>#</td>
                    </tr>
                    <tr>
                        <td class="br"><i class="font1"></i>-</td>
                        <td class="br"><i class="font2"></i>+</td>
                    </tr>
                </table>
            </li>
            <li>
                <i></i>
                <table>
                    <tr>
                        <td><i class="font1"></i></td>
                        <td class="br"><i class="font2"></i>#</td>
                    </tr>
                    <tr>
                        <td class="br"><i class="font1"></i>-</td>
                        <td class="br"><i class="font2"></i>+</td>
                    </tr>
                </table>
            </li>
            <li>
                <i></i>
                <table>
                    <tr>
                        <td><i class="font1"></i></td>
                        <td class="br"><i class="font2"></i>#</td>
                    </tr>
                    <tr>
                        <td class="br"><i class="font1"></i>-</td>
                        <td class="br"><i class="font2"></i>+</td>
                    </tr>
                </table>
            </li>
            <li>
                <i></i>
                <table>
                    <tr>
                        <td><i class="font1"></i></td>
                        <td class="br"><i class="font2"></i>#</td>
                    </tr>
                    <tr>
                        <td class="br"><i class="font1"></i>-</td>
                        <td class="br"><i class="font2"></i>+</td>
                    </tr>
                </table>
            </li>
            <li>
                <i></i>
                <table>
                    <tr>
                        <td><i class="font1"></i></td>
                        <td class="br"><i class="font2"></i>#</td>
                    </tr>
                    <tr>
                        <td class="br"><i class="font1"></i>-</td>
                        <td class="br"><i class="font2"></i>+</td>
                    </tr>
                </table>
            </li>
        </ul>
    </li>
           <li>
        <ul>
            <li>
                <i></i>
                <table>
                    <tr>
                        <td><i class="font1"></i></td>
                        <td class="br"><i class="font2"></i>#</td>
                    </tr>
                    <tr>
                        <td class="br"><i class="font1"></i>-</td>
                        <td class="br"><i class="font2"></i>+</td>
                    </tr>
                </table>
            </li>
            <li>
                <i></i>
                <table>
                    <tr>
                        <td><i class="font1"></i></td>
                        <td class="br"><i class="font2"></i>#</td>
                    </tr>
                    <tr>
                        <td class="br"><i class="font1"></i>-</td>
                        <td class="br"><i class="font2"></i>+</td>
                    </tr>
                </table>
            </li>
            <li>
                <i></i>
                <table>
                    <tr>
                        <td><i class="font1"></i></td>
                        <td class="br"><i class="font2"></i>#</td>
                    </tr>
                    <tr>
                        <td class="br"><i class="font1"></i>-</td>
                        <td class="br"><i class="font2"></i>+</td>
                    </tr>
                </table>
            </li>
            <li>
                <i></i>
                <table>
                    <tr>
                        <td><i class="font1"></i></td>
                        <td class="br"><i class="font2"></i>#</td>
                    </tr>
                    <tr>
                        <td class="br"><i class="font1"></i>-</td>
                        <td class="br"><i class="font2"></i>+</td>
                    </tr>
                </table>
            </li>
            <li>
                <i></i>
                <table>
                    <tr>
                        <td><i class="font1"></i></td>
                        <td class="br"><i class="font2"></i>#</td>
                    </tr>
                    <tr>
                        <td class="br"><i class="font1"></i>-</td>
                        <td class="br"><i class="font2"></i>+</td>
                    </tr>
                </table>
            </li>
        </ul>
    </li>
</ul>
{%endblock%}
{%block footer%}
    <form>
        <input type="number"/>
        <button>Ordenar</button>    
    </form> 
{%endblock%}

           
            
                
            