                 <table id="total" >
                     <thead>
                         <tr>
                             <th>Cantidad</th>
                             <th>Usuario</th>
                             <th>Venta</th>
                         </tr>
                     </thead>
                     <tbody>
                         <tr>
                             <td>2</td>
                             <td>2</td>
                             <td>2</td>
                         </tr>
                         <tr>
                             <td>2</td>
                             <td>2</td>
                             <td>2</td>
                         </tr>
                         <tr>
                             <td>2</td>
                             <td>2</td>
                             <td>2</td>
                         </tr>
                         <tr>
                            <td style="background: #fcede3;"></td>
                            <td colspan="2">2</td>
                         </tr>
                     </tbody>
                 </table>